html, body {
    height: 100%;
}

.bg {
    background-image: url("../Slike/nba-wallpapers-19.jpg");
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 8vw;
    letter-spacing: 10px;
    text-align: left;
    background-image: linear-gradient(to right, rgba(128, 128, 128,1), rgba(0,0,0, 0));
    margin-bottom: 0;
    padding-left: 10px;
    color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
    font-family: 'Varela Round', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,  grey, black);
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}


#HomeIcon a:hover{
    background-color: transparent;
}


iframe {
    width: 20%;
    height: 400px;
}
